.container {
  background-color: #D8D8D8;
  font-family: 'Lato', sans-serif;
  padding: 50px;
  padding-bottom: 100px;
}

/*--------------------
TOP LINKS
---------------------*/

.links {
  min-width: 615px;
}

ul{
  margin-left: -30px;
}

ul li {
  display: inline-block;
  font-size: 14px;
  padding: 5px 9px;
}

a {
  color: black;
}

a:hover{
  color: #0489B1;
  text-decoration: none;
}

.lang {
  float: right;
}


/*----------------------------
NAVIGATION BAR
-----------------------------*/

.navbar.navbar-default {
  background-color: white;
  border-bottom: solid 1px gray;
  min-width:615px;
}

.nav-buttons {
  display: inline-block;
  float: right;
  height:inherit;
}

.btn-group {
  height: inherit;
  font-size: 15px;
}

.btn-default {
  border-top: none;
  border-bottom: none;
  border-radius: 0px; 
  height: 70px;  
}

.btn-text {
  font-size: 15px;
  font-weight:600;
  line-height: 20px;
  padding: 8px 18px;  
  text-align: left;
  white-space: normal;
}

.search {
  background-color: #5F9E3E;
  color: white;
  height: 70px;
  margin-left: -px;
  padding: 0px;
  width: 70px;
}

/*---------------
dropdown styling and functions
-----------------*/

.dropdown {
  display: inline-block;
  height: inherit;
  margin-right: -5px;
  width: inherit; 
}

.dropdown-content {
  display: none;
  width: 220px;
}

.dropdown-item {
  color: white;
  font-weight:600;
  padding: 10px 10px;    
}

.dropdown-item:hover{
  background-color: #0489B1;
}

.spans {
  background-color: white;
  border-radius: 3px;
  color: #235886;  
  font-size: 10px;
  font-weight: bold;
  margin: -10px 0 20px 7px;
  padding: 2px;
}

.dropdown-item a {
  color: white;
  text-decoration: none;
}

.dropdown:hover .dropdown-content { 
  background-color: #235886;
  color: white;
  cursor: pointer;
  display: block; 
  padding: 20px;
  position: absolute;
  z-index: 2;  
}

.dropdown:hover #button-dropdown {
  background-color: #235886;
  border: solid 1px #235886;
  border-radius: 0px;
  color: white;
}


/*--------------------------
CAROUSEL ELEMENTS
------------------------*/

#myCarousel {
  border: solid 2px white; 
  min-width: 615px;
}

.carousel-inner .item img,
.carousel-inner .item a img {
  height: 450px;
  width: 100%
}

.carousel-control {
  line-height: 450px;
  width: 100px;  
}

.glyphicon.glyphicon-menu-right,
.glyphicon.glyphicon-menu-left {
  font-size: 50px;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li {
  background-color: gray;
  border: solid 3px white;  
  display: inline-block; 
  height: 21px;
  width: 21px;
}

.carousel-indicators li.active {
  background-color: #5F9E3E; 
  height: 21px;
  margin-bottom: 1px;
  width: 21px;
}

.carousel-caption {
  background: rgba(255,255,255, 0.6);
  color: black;  
  bottom: 50px;  
  left:auto;
  right:50px;
  padding: 30px;
  position:absolute;
  text-align: left;
  width: 40%;
}

.carousel-caption h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0px;
}

.carousel-caption p {
  font-size: 17px;
}


@media screen and (max-width:1050px){
  .btn-text{
    padding: 8px 2px;
    font-size:13px;
  }
}